{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}


<!-- HEADER -->
{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

<!-- BODY -->
{% block content %}
    <h1>Create account</h1>
    <form action={{ url_for('register.register') }} method="POST" novalidate>  <!-- novalidate let Flask handle form validation -->
        {{ form.hidden_tag() }}
        <p>{{ render_field(form.username) }}</p>
        <p>{{ render_field(form.pseudo) }}</p>
        <p>{{ render_field(form.password) }}</p>
        <p>{{ render_field(form.confirm) }}</p>
        <input type="submit" value="Register">
    </form>
{% endblock %} 